<div class="row">
  <div class="jumbotron mt-4">
    <h1 class="display-4">Notes App with NodeJS and MongoDB</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis fugiat, voluptate libero quas ut nulla.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic dicta ducimus explicabo laudantium ab? Explicabo!</p>
    <a href="https://edicsonabel.com" target="_blank" class="btn btn-primary">Edicson Abel</a>
  </div>
</div>
