<!--Navbar-->
<nav class="navbar navbar-expand-md navbar-dark primary-color">

 <div class="container">
  <!-- Navbar brand -->
  <a class="navbar-brand" href="/">Notes App</a>

  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
  aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<!-- Collapsible content -->
<div class="collapse navbar-collapse" id="basicExampleNav">

 <!-- Links -->
 <ul class="navbar-nav mr-auto">
   <li class="nav-item">
     <a class="nav-link" href="/about">About</a>
   </li>
 </ul>

 <ul class="navbar-nav ml-auto">
   <li class="nav-item dropdown">
    <!--Trigger-->
    <a href="#" class="nav-link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false">Notes</a>

    <!--Menu-->
    <div class="dropdown-menu dropdown-primary">
      <a class="dropdown-item" href="/notes">All notes</a>
      <a class="dropdown-item" href="/notes/add">Add note</a>
      <div class="dropdown-divider"></div>
      <a href="/logout" class="dropdow-item">Logout</a>
    </div>
  </li>
  <li class="nav-item">
   <a class="nav-link" href="/users/signin">Login</a>
 </li>
 <li class="nav-item">
   <a class="nav-link" href="/users/signup">Register</a>
 </li>
</ul>
</div>
</div>

</nav>
<!--/.Navbar-->
