<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- All Material Design Bootstrap -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/edicsonabel/mdbootstrap/css/all.min.css">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="./css/style.css">

  <title>Notes App</title>
</head>
<body>

  {{>navigation}}

  <div class="container p-5">
    {{{body}}}
  </div>

  <!-- All MDB core JavaScript -->
  <script src="https://cdn.jsdelivr.net/gh/edicsonabel/mdbootstrap/js/all.min.js"></script>
  <!-- CUSTOM JS -->
  <script src="./js/script.js"></script>
</body>
</html>
